@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: "Noto Sans TC";
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  text-align: center;
  height: 100vh;
  background-image: url('http://img1.wsimg.com/isteam/stock/29950');
  background-repeat: no-repeat; /* 這行 code 讓 圖片不會重複出現 */
  background-size: cover;
}

.panel{
  width:50vw;
  height:50vh;
  background-color: rgba(255,255,255,0.8);
  display:flex; 
  flex-direction: column;
  justify-content:center;
  align-items:center;
  border-radius:10px;
  padding:40px;
  
}

.selfie{
  height:100px;
  width:100px;
  border-radius:100%;
  background-image: url("images/Alpca.jpg");
  background-size: 200% 200%;
  background-position: 20% 10%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

h3 {
  text-align: center;
  margin: 10px;
  font-size: 25px;
  margin-bottom:30px;
}

.about {
  height: 70vh;
  background-color: rgba(0,0,0,0.1);
  padding:30px;
}

.about p {
  border: none;
  margin: 10px;
  color: rgb(10,10,10);
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items:center;
}

.selfieBig{
  height:200px;
  width:200px;
  background-image: url("images/03_christmas.jpg");
  background-size: cover;
}

.content-p {
  display: flex;
  flex-direction: column;
  margin:30px;
}

.experience {
  height: 60vh;
  background-color: AliceBlue;
}

.experience p{
  margin:10px;
}

.photos{
  height:60vh;
}

.photo{
  width:200px;
  height:200px;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  margin:10px;
}

.photo-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
}

.photo1{
  background-image: url("images/PRISM.jpg");
}
.photo2{
  background-image: url("images/facebook.jpg");
}
.photo3{
  background-image: url("images/Sale.jpg");
}
.contact {
  height: 50vh;
  background-color:#204060;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center
}
.contact h5{
  margin-top:30px;
}
.contact a{
  color:white;
}
